@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap");
html {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
html a {
  text-decoration: none;
  color: inherit;
}
html input {
  outline: none;
}

.hide {
  display: none;
}

.header {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}
.header div {
  margin: auto;
  width: 95%;
  max-width: container 1200px;
}
.header div div:first-child {
  display: none;
  margin-bottom: 0px;
}
@media (max-width: 1200px) {
  .header div div:first-child {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 1200px) {
  .header div div:nth-child(2) {
    display: none;
  }
}
.header .header__logo {
  height: 70px;
  line-height: 70px;
  text-align: center;
}
@media (max-width: 1200px) {
  .header .header__logo {
    flex-grow: 1;
  }
}
.header .header__logo .img {
  height: 25px;
  transform: translateY(10px);
}
.header .search {
  position: relative;
}
.header .search__icon {
  width: 24px;
  opacity: 26%;
  top: 8px;
  position: absolute;
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.26);
  line-height: 40px;
}
.header .search__input {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  padding-left: 40px;
}
.header .search__input:hover {
  border-color: #000;
}
.header .search__input::placeholder {
  font-size: 0.9375rem;
  font-weight: 600;
  font-family: "Open Sans";
  color: #9b9b9b;
}
.header .drawer {
  width: 24px;
  opacity: 54%;
  display: none;
}
.header .drawer--closed > img {
  background: url(../assets/close.svg) no-repeat;
  background-size: contain;
}
.header .drawer__logo {
  position: absolute;
  height: 15px;
  left: 45%;
  top: 3%;
  vertical-align: middle;
  text-align: center;
  flex-grow: 1;
  transform: translateY(10px);
}
.header .drawer__icon {
  opacity: 0.5;
  width: 24px;
  position: absolute;
  top: 3.7%;
}
.header .drawer--active {
  display: flex;
  height: 78px;
  background: #FFFFFF;
  opacity: 1;
  z-index: 3;
  padding: 0px;
  margin: 0px;
}
.header * {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.header .filter {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: calc(100% - 75px);
  width: 100%;
  left: 0;
  top: 78px;
  position: absolute;
  z-index: 1;
}
.header span {
  font-size: 9.5px;
}
@media (max-width: 1200px) {
  .header .floating {
    position: fixed;
    top: 0;
    background-color: #fff;
  }
}
.header .sidebar__icon {
  max-height: 24px;
  max-width: 24px;
  transform: rotate(-90deg);
  float: right;
  padding-right: 20px;
}
.header .sidebar {
  position: fixed;
  width: 80%;
  left: -80%;
  top: 76px;
  height: 100%;
  background: #ffffff;
  z-index: 2;
  overflow: scroll;
  display: none;
}
.header #new {
  height: 50px;
  line-height: 57px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.header .sidebar a {
  display: block;
  height: 41px;
  width: 100%;
  line-height: 41px;
  padding-left: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  color: #000;
  transition: all 0.5s ease;
  font-family: "Montserrat", sans-serif;
}
.header .active {
  font-size: 3px;
}
.header #check {
  display: none;
}
.header label {
  z-index: 2;
  height: 24px;
  width: 24px;
  font-size: 9px;
  font-weight: 50;
  color: gray;
  margin: 0;
  top: 4%;
}
.header label:hover {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: none;
}
.header label #btn, .header #cancel {
  top: 5.7%;
  cursor: pointer;
  text-align: center;
  line-height: 24px;
  transition: all 0.5s ease;
  z-index: 2;
  position: absolute;
}
.header label #cancel {
  opacity: 0;
  visibility: hidden;
}
.header #check:checked ~ .sidebar {
  left: 0;
  transition: all 0.5s ease;
  display: block;
}
.header #check:checked ~ label #btn {
  opacity: 0;
  visibility: hidden;
}
.header #check:checked ~ label #cancel {
  opacity: 1;
  visibility: visible;
}
.header #close-icon {
  opacity: 0;
  visibility: hidden;
}
.header #check:checked ~ .filter {
  visibility: visible;
}
@media (max-width: 1200px) {
  .header .menu {
    display: none;
  }
}
.header .menu .menu__list {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
.header .menu .menu__link {
  font-size: 0.8125rem;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  padding-bottom: 5px;
  vertical-align: baseline;
}
.header .menu .menu__link:hover {
  border-bottom: 2px solid #000;
}

.main {
  margin: 0 auto;
  width: 80%;
  max-width: 1100px;
  padding: 16px;
}
.main .breadcrumbs {
  margin-bottom: 16px;
}
.main .separator {
  margin-left: 8px;
  margin-right: 8px;
  user-select: none;
}
.main .breadcrumbs__item.active {
  color: #261e1e;
}
@media (max-width: 1200px) {
  .main .breadcrumbs__item.active {
    display: block;
    text-align: center;
    font-size: 1.4375rem;
    font-weight: 400;
    text-transform: uppercase;
  }
}
.main .breadcrumbs__list {
  display: flex;
}
@media (max-width: 1200px) {
  .main .breadcrumbs__list {
    justify-content: center;
  }
}
.main .breadcrumbs__item {
  font-size: 0.8125rem;
  font-weight: 600;
  color: #585858;
}
.main .breadcrumbs__item:not(:last-child):hover {
  text-decoration: underline;
}
@media (max-width: 1200px) {
  .main .breadcrumbs__item {
    display: none;
  }
}
.main .filter {
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
@media (max-width: 1200px) {
  .main .filter {
    display: none;
  }
}
.main .filter .filter__list {
  display: flex;
}
.main .filter .filter__item {
  display: flex;
  align-items: center;
  padding: 12px 14px;
}
.main .filter .filter__item:hover {
  cursor: pointer;
  background-color: rgba(38, 30, 30, 0.04);
}
.main .filter .filter__label {
  text-transform: uppercase;
  font-size: 0.6875rem;
  font-weight: 400;
  color: #261e1e;
}
.main .filter .filter__img {
  height: 20px;
  margin-left: 8px;
}
.main .products {
  margin-top: 20px;
  margin-bottom: 20px;
}
.main .products .products__row {
  margin: 8px;
}
.main .products .produtcts__list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .main .products .produtcts__list {
    flex-wrap: wrap;
  }
}
@media (max-width: 1200px) {
  .main .products .products__cards {
    flex-basis: 50%;
  }
}
.main .card {
  cursor: pointer;
  border: 1px solid white;
  padding: 8px;
}
.main .card:hover {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.main .card .card__img {
  max-width: 100%;
  max-height: 100%;
}
.main .card .card__description {
  font-size: 0.6875rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  text-transform: uppercase;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 10px;
}
.main .card .card__price {
  font-size: 0.8125rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.footer {
  border-top: 2px solid lightgray;
  padding-top: 40px;
  width: 100%;
}
.footer .container {
  margin: 0 auto;
  width: 90%;
}
.footer .newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  .footer .newsletter {
    height: 50%;
    display: flex;
    flex-direction: column;
  }
}
.footer .newsletter__info {
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 0.8125rem;
}
.footer .newsletter__input {
  height: 24px;
  line-height: 24px;
  border: 0px;
  border-bottom: 1px solid rgba(38, 30, 30, 0.42);
  outline: none;
  width: 300px;
  font-size: 0.9375rem;
  font-weight: 600;
  color: #000;
}
.footer .newsletter__input:hover {
  border-bottom: 2px solid #261E1E;
}
.footer .newsletter__input:focus-within {
  border-bottom: 2px solid #261E1E;
}
.footer .newsletter__input::placeholder {
  font-style: italic;
  opacity: 42%;
  font-weight: 600;
}
@media (max-width: 1200px) {
  .footer .newsletter__info {
    width: 100%;
    flex-grow: 1;
    text-align: center;
    margin-bottom: 10px;
  }
  .footer .newsletter__form {
    display: flex;
    flex-direction: row-reverse;
    margin: 0px;
  }
  .footer .newsletter__input {
    width: 100%;
    margin: 7px;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
}
.footer .newsletter__button {
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.26);
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  padding: 10px 20px 10px 20px;
}
.footer .newsletter__button .txt {
  font-size: 0.8125rem;
  text-transform: uppercase;
}
.footer .newsletter__interesses {
  display: none;
}
@media (max-width: 1200px) {
  .footer .newsletter__button {
    display: none;
  }
  .footer .newsletter__interesses {
    display: flex;
    height: 24px;
    line-height: 24px;
    border: 0px;
    margin: 7px;
    border-bottom: 1px solid rgba(38, 30, 30, 0.42);
    outline: none;
    width: 100%;
    font-size: 0.9375rem;
    font-weight: 600;
    color: #000;
  }
  .footer .newsletter__interesses:hover {
    border-bottom: 2px solid #261E1E;
  }
  .footer .newsletter__interesses:focus-within {
    border-bottom: 2px solid #261E1E;
  }
  .footer .newsletter__interesses::placeholder {
    font-style: italic;
    opacity: 90%;
    font-weight: 600;
  }
}
.footer .apps {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .apps .newsletter__msg {
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 20px;
}
.footer .apps .newsletter__app {
  margin-left: 10px;
}
.footer .apps .newsletter__app .img {
  width: 110px;
}
.footer .footer__links {
  background-color: #f6f6f6;
  margin-top: 40px;
  display: flex;
}
.footer .contact__icon {
  text-align: center;
}
.footer .contact__icon .contact__img {
  display: block;
  margin: auto;
  width: 25px;
}
.footer .contact__icon .contacts__text {
  padding: 8px;
  font-size: 0.8125rem;
  white-space: pre-line;
}
.footer .contacts {
  width: 30%;
  display: flex;
}
.footer .contacts .contacts__column {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.footer .separator {
  width: 1px;
  border: none;
  background-color: rgba(0, 0, 0, 0.12);
}
@media (max-width: 1200px) {
  .footer .separator {
    display: none;
  }
}
.footer .company {
  display: flex;
  width: 60%;
  padding: 50px;
}
.footer .company .company__links {
  flex-grow: 1;
  margin-left: 8px;
  margin-right: 8px;
}
.footer .company .company__links .company__item {
  padding-top: 8px;
}
.footer .company .company__links .company__item .company__title {
  text-transform: uppercase;
  font-size: 0.875rem;
}
.footer .company .company__links .company__item .company__text {
  line-height: 25px;
  font-size: 0.6875rem;
  font-weight: 400;
  color: black;
}
.footer .company .company__links .company__item .company__text:hover {
  text-decoration: underline;
}
.footer .payment {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
}
.footer .alternatives {
  width: 50%;
}
.footer .alternatives .alternatives__title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer .alternatives .alternatives__img {
  margin: 2px;
  width: auto;
}
.footer .social {
  flex-grow: 1;
}
.footer .social .social__title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer .social .social__icons {
  display: flex;
}
.footer .social .social__icons .icon {
  width: 50px;
}
.footer .social .social__icons .icon .icon__img {
  display: block;
  margin: auto;
}
.footer .social .social__icons .icon .icon__text {
  padding-top: 4px;
  font-size: 0.6875rem;
  font-weight: 300;
  text-align: center;
}
.footer .accessibility {
  flex-grow: 1;
}
.footer .accessibility .title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer .accessibility .img {
  width: 30px;
}
.footer .bottom {
  background-color: #f6f6f6;
  padding: 20px 0;
}
.footer .bottom .bottom__container {
  display: flex;
}
.footer .bottom .bottom__copyright {
  width: 83.333333%;
}
.footer .bottom .bottom__copyright .bottom__text {
  font-size: 0.5625rem;
  font-weight: 400;
  color: #261E1E;
}
.footer .bottom .bottom__stamp {
  margin: 0 auto;
  width: 47px;
}

/*# sourceMappingURL=styles.css.map */
