html {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
  
    a {
      text-decoration: none;
      color: inherit;
    }
  
    input {
      outline: none;
    }
    
  }
  
  .hide {
    display: none;
  }