.header__logo{
    height: 70px;
    line-height: 70px;
    text-align: center;

    @include for-phone-only {
      flex-grow: 1;
    }

    .img {
      height: 25px;
      transform: translateY(10px);
    }
  
  }