.social {
  
    flex-grow: 1;

    .social__title {
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    .social__icons {
      display: flex;

      .icon {
        width: 50px;

        .icon__img {
          display: block;
          margin: auto;
        }

        .icon__text {
          padding-top: 4px;
          font-size: 0.6875rem;
          font-weight: 300;
          text-align: center;
        }

      }

    }

  }