.payment {
  
    margin-top: 25px;
    margin-bottom: 25px;

    display: flex;
    
  }

.alternatives {
  
    width: 50%;

    .alternatives__title {
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    .alternatives__img {
      margin: 2px;
      width: auto;
    }

  }