.bottom {
  
    background-color: #f6f6f6;
    padding: 20px 0;

    .bottom__container {
      display: flex;
    }

    .bottom__copyright {
      width: 83.333333%;
  
      .bottom__text {
        font-size: 0.5625rem;
        font-weight: 400;
        color: #261E1E;
      }

    }

    .bottom__stamp {
      margin: 0 auto;
      width: 47px;
    }

  }